body{
    
        width: 100%;
        height: 100%;  
        font-size: 1.5em;
        color: #ffffff;
        background-color: transparent;
    
    
    
        background-image: url(imagenes/Halloween-1.jpg);

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.cabezaAnuncio img {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    
}
.Anuncio{
    border:1px solid rgb(255, 0, 0);
    margin: 3em;  
    flex-grow: 1;
    flex-shrink: 50px;
    text-align: center;
    
}

.Anuncio:hover{
    background-image: url(imagenes/fondo-negro-fa.jpgntasmas);

}

.Anuncio:hover img{
    width: 22em;
    height: 22em;
}

.Cuadro_anuncios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.textoAnuncio{
    width: 20em;
}

.paginaCompleta{
    text-align: center;
}
